.shelfie_Body_Bin_1_Edit {
    width: 100%;
    height: 80px;
    background-color: #ed6b5a;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
  }

.top_bar_bin_1_Edit {
    width: 550px;
    height: 80px;
    margin: 0px 725px 20px 0px;
    padding: 0px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    background-color: #d34735;
  }

.shelfieHeadBin1_Edit {
    width: 100px;
    height: 80px;
    margin: 0px 0px 0px 20px;
    padding: 18px 20px 24px 16px;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    background-color: #ed6b5a;
  }

.top_bar_bin_1_Edit img {
    width: 200px;
    height: 80px;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
  }

.buttonBox_bin_1_Edit {
      width: 800px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 35px;
      color: #000000;
      display: inline;
  }

.buttonBoxImage_Edit {
    width: 225px;
    height: 225px;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}

.buttonBoxImage_Edit img {
    width: 225px;
    height: 225px;
}

.boxButtonEdit_Edit {
    width: 200px;
    height: 75px;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 10px 0xp;
    border-radius: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    border-color: #40f99b;
    background-color: #40f99b;
    text-align: center;
}

.boxButtonDelete_Edit {
    width: 200px;
    height: 75px;
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 10px 0xp;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    border-color: #d7d7d7;
    background-color: #d7d7d7;
    text-align: center;
}

.boxButtonBin1Text_Edit {
    width: 500px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    float: left;
}

.boxButtonBin1Input_Edit {
    width: 500px;
    height: 70px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0xp;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    border-color: #FF0000;
    background-color: #FFFFFF;
}

.boxButtonBin1Price_Edit {
    width: 500px;
    height: 70px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 0xp;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    border-color: #FF0000;
    background-color: #FFFFFF;
}